<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NSStringToNSData_Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>846C75661D3CB69200659AB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>846C757F1D3CB69300659AB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>846C758A1D3CB69300659AB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
